/* Основные стили */
.neo-specialty-page {
    padding: 125px 30px 30px;
}

.neo-specialty-header h1 {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.neo-header-bckg {
    background-color: rgb(255, 255, 255) !important;
}

.neo-subtitle {
    margin-top: 10px;
    background-color: #DBE9FF;
    color: #003487;
    height: 50px;
    width: 700px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neo-description {
    margin: 20px 0px;
    border-left: 3px solid #236ADB;
    padding-left: 12px;
    width: 100%;
    font-size: 17px;
}

.neo-bookAppointment {
    width: 250px;
}

.neo-info-columns {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.neo-block-title {
    background-color: #DBE9FF;
    color: #003487;
    width: 230px;
    height: 45px;
    border-radius: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.neo-what-lech {
    font-size: 17px;
}

.neo-specialty-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.neo-doctors-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 25px 0px;
    justify-content: center;
}

.neo-doctor-card {
    display: flex;
    background-color: #F0F6FF;
    border-radius: 24px;
    align-items: center;
    gap: 20px;
    height: 260px !important;
    width: 600px;
    justify-content: center;
    margin: 0;
}


.neo-doctor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #003487;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
}

.neo-specialty-texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    width: 90%;
}

.neo-doctor-info h3 {
    font-size: 18px;
    text-align: start !important;
    width: 90%;
}

.neo-doctor-info p {
    /* margin: 4px 0; */
}

.neo-btnWid {
    width: 90%;
}

.neo-clrblck {
    color: black;
}

.neo-specialty-avatar {
    border-radius: 50%;
    object-fit: cover;
}

.neo-all-doctors-btn {
    width: 100%;
}

@media (max-width: 1025px) {
    .neo-doctors-grid {
        align-items: center;
        justify-content: center;
    }

    .neo-doctor-card {
        flex-direction: column;
        width: 100%;
        height: auto !important;
        width: 400px;
        margin: 0;
        padding: 20px;
    }

    .neo-doctor-info {
        width: 100%;
        align-items: center;
        padding-top: 10px;
        border-top: 1px solid #DBE9FF;
    }

    .neo-doctor-info h3 {
        width: fit-content;
    }

    .neo-specialty-texts {
        align-items: center;
    }

    .neo-doctor-card .neo-doctor-info:nth-of-type(1) {
        display: flex;
        flex-direction: row;
        gap: 20px;
        border: 0;
    }

}

@media (max-width: 821px) {
    .neo-doctor-card {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .neo-doctor-card {
        width: 320px;
    }
}

@media (max-width: 450px) {
    .neo-subtitle {
        width: 100%;
        font-size: 16px;
        height: 70px;
        padding: 0 20px;
    }

    .neo-doctor-card {
        width: 100%;
    }

    .neo-custom-button {
        width: 100%;
    }
        .neo-bookAppointment {
            width: 100%;
        }
}
