.specialty-page {
    padding: 125px 30px 30px;
}

.specialty-header h1 {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.header-bckg{
    background-color: white !important;
}

.subtitle {
    margin-top: 10px;
    background-color: #DBE9FF;
    color: #003487;
    height: 50px;
    width: 700px;
    border-radius: 14px;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin: 20px 0px;
    border-left: 3px solid #236ADB;
    padding-left: 12px;
    width: 100%;
    font-size: 17px;
}

.bookAppointment{
    width: 250px;
}

.info-columns {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.block-title {
    background-color: #DBE9FF;
    color: #003487;
    width: 230px;
    height: 45px;
    border-radius: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.what-lech{
    font-size: 17px;
}

.specialty-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.doctors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
    gap: 30px;
    margin: 25px 0px;
}

.doctor-card {
    display: flex;
    background-color: #F0F6FF;
    border-radius: 24px;
    align-items: center;
    gap: 20px;
    height: 260px !important;
    width: 660px !important;
    justify-content: center;
    margin: 0 auto;
}

.doctor-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #003487;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    gap: 10px;
}

.specialty-texts{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
    width: 90%;
}

.doctor-info h3{
    font-size: 18px;
    text-align: start !important;
    width: 90%;
}

.doctor-info p {
    /* margin: 4px 0; */
}

.btnWid{
    width: 90%;
}

.clrblck{
    color: black;
}

.specialty-avatar {
    border-radius: 50%;
    object-fit: cover;
}

.all-doctors-btn {
    width: 100%;
}
