.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.dleft {
    width: 50%;
    background-color: #F0F6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.dright {
    width: 50%;
    background-color: #DBE9FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dright-top {
    display: none;
}

.welcome {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

}

.buttNs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.form {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: column;
}

.form label {
    font-size: 16px;
    margin-top: 12px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 6px;
}

.form input {
    padding: 16px;
    border-radius: 999px;
    outline: none;
    font-size: 16px;
    width: 433px;
    height: 50px;
    background-color: white;
    border: 1px solid #DBDBDB;
    color: #767676;
    font-weight: 400;
}

.btnRegister {
    width: 283px;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 24px 0;
}

.icon {
    font-size: 20px;
    color: #236ADB;
    cursor: pointer;
    transition: 0.3s ease;

}

.iconDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F6FF;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
}

.loginText {
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;

}

.loginText a {
    color: #236ADB;
    text-decoration: none;
}

@media (max-width: 1025px) {
    .dright {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttNs {
        width: 100%;
    }

    .dleft {
        display: none;
    }

    .dright-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
    }

    .dright-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 700px;
    }

    .form {
        width: 80%;
    }

    .form input {
        width: 100%;
    }

    .btnRegister {
        width: 60%;
    }

    .btnCancel {
        width: 40%;
    }
}

@media (max-width: 768px) {

    .form {
        width: 70%;
    }



}

@media (max-width: 450px) {
    .dright {
        width: 100%;
    }

    .dright-bottom {
        width: 100%;
    }

    .buttNs {
        flex-direction: column;
        align-items: center;
    }

    .btnRegister {
        width: 90%;
    }

    .btnCancel {
        width: 90%;
    }

    .form input {
        width: 90%;
    }

    .dright-top {
        display: none;
    }

    .form label {
        display: flex;
        width: 90%;
        justify-content: flex-start;
    }

    .form {
        width: 100%;
        align-items: center;
    }

    .heading {
        text-align: center;
    }

}