.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f6ff;
    padding: 20px 60px;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    gap: 20px;
    z-index: 10000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-item {
    background-color: white;
    padding: 10px 18px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #dcdcdc;
}

.dropdown {
    position: absolute;
    top: 60px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    z-index: 10;
    width: 180px;
}

.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #f5f5f5;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-input {
    padding: 10px 18px;
    border-radius: 40px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 14px;
    width: 260px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
